.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.compare-send-btn {
  /* width: 100%;  */
  padding: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.compare-send-btn {
  position: relative;
  width: 100%;
  padding: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}

.compare-send-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -60px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.45) 0%,
    rgba(255, 255, 255, 0.08) 60%,
    transparent 100%
  );
  transform: translateY(-50%);
  animation: moveCircle 2s linear infinite;
}

.compare-send-btn span {
  position: relative;
  z-index: 1;
}

@keyframes moveCircle {
  from {
    left: -60px;
  }
  to {
    left: calc(100% + 60px);
  }
}
